/* .footer-widget-area {
    background: #3c3a3c;
    padding: 80px 0;
}

.foot {
    padding-bottom: 2%;
    margin-top: 20px;
  }
  #quick-links p {
    display: inline;
    padding: 5px;
  }
  #quick-links a {
    color: #ffffff;
  }
  .copy-right p {
    font-size: 13px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  } */